<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ gettext('OpenTera - Dashboards') }}</title>
        <script src="./static/file_download.js"></script>
    </head>
    <body>
        <iframe src="./static/DashboardsViewerApp.html?name={{ user_name }}&token={{ user_token }}&hostname={{ backend_hostname }}&port={{ backend_port }}"
                style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"/>
    </body>
</html>
